@font-face {
    font-family: 'Peace Sans';
    src: url('../fonts/Peace Sans/peace_sans_webfont-webfont.woff2') format('woff2'),
         url('../fonts/Peace Sans/peace_sans_webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
