//
// Variables
// --------------------------------------------------


//== Colors
//
//##

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:  "Baloo Bhai", sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;
$font-size-base:          16px !default;

//== Breakpoints
//
//##
$bp-mobile:         320px;
$bp-tablet:         768px;
$bp-desktop:        1280px;
$bp-fullhd:         1920px;

