section(class="section" id="slider")

  div(class="slider")

    div(class="slider__container")

      div(class="slider__item slide-burger")
        div(class="slider__content grid")

          div(class="column")
            h1(class="title") Veggie
            h1(class="title") Burguer
          
          div(class="column")
            img(src="assets/images/burger.png", class="image burger")

      div(class="slider__item slide-astronaut")
        div(class="slider__content grid")
 
          div(class="column")
            h1(class="title") lost
            h1(class="title") in space
          
          div(class="column")
            img(src="assets/images/astronaut.png", class="image astronaut")

      div(class="slider__item slide-coffee")
        div(class="slider__content grid")

          div(class="column")
            h1(class="title") I Love
            h1(class="title") Coffee
          
          div(class="column")
            img(src="assets/images/cup-2.png", class="image cup")
