section(class="section section-home" id="slider")

  div(class="slider")

    div(class="slider__container")

      div(class="slider__item")
        div(class="slider__content")
          div
            h1(class="slider__item__title") A Veggie
            h1(class="slider__item__title") Burguer

          img(src="assets/images/burger.png", class="image burger")

      div(class="slider__item")
        div(class="slider__content")
          div
            h1(class="slider__item__title") lost
            h1(class="slider__item__title") in space

          div
            img(src="assets/images/astronaut.png", class="image astronaut")

      div(class="slider__item")
        div(class="slider__content")
          div
            h1(class="slider__item__title") I Love
            h1(class="slider__item__title") Coffee

          div
            img(src="assets/images/cup-2.png", class="cup")
