doctype html
html(lang='pt-br')

  head

    title Tuin Slideshow

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')

    meta(name='description' content='')

    link(rel='stylesheet', href='assets/stylesheet/application.css')
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Baloo|Baloo+Bhai|Baloo+Da|Baloo+Thambi|Fredoka+One|Lalezar|Luckiest+Guy|Passion+One')

  body

    //- Views
    include _views/section-home

    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js")
    script(src="assets/javascript/script.js")
